.new-entry {
  display: flex;
  padding: 15px 10px;
  border-bottom: 1px solid #f0f0f0;
}

.new-entry .details {
  flex: 2;
}

.new-entry .actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.new-entry .trigger{
  margin: 5px 0 0 10px;
  cursor: pointer;
}

.new-entry .trigger svg path {
  fill: #555;
}

.new-entry .trigger:hover svg path {
  fill: #303952;
  transition: fill .2s ease;
}

.new-entry .trigger.disabled svg path {
  fill: #999;
}

.new-entry .trigger.disabled {
  cursor: default;
}

.new-entry textarea{
  border: none;
  outline: none;
  resize: none;
  font-size: 15px;
  padding: 5px;
}
